body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: indigo;
  line-height: 1;
}

textarea {
  background: powderblue;
  border: none;
  border-color: indigo;
  resize: none;
  color: indigo;
  border-left: 1px solid indigo;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: powderblue;
  color: indigo;
  border-radius: 35;
  border-bottom: 10px solid indigo;
}

.description {
  white-space: pre-wrap;
  border-color: indigo;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  border-color: indigo;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid indigo;
  border-color: indigo;
}

.hour {
  color: indigo;
  border-top: 1px dashed indigo;
}

.past {
  background-color: #ffff66;
  color: indigo;
}

.present {
  background-color: #ff6961;
  color: indigo;
}

.future {
  background-color: #77dd77;
  color: indigo;
}

.addBtn {
  border-left: 1px solid indigo;
  border-color: indigo;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.addBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
